doctype html
head
	link(rel="stylesheet" href="popup.css")

body
	#mainPopup
		.tabs
			ul.tabs__list
				li
					a From Now
				li
					a Specific Date
			.tabs__tab-content
				h2 In the future
				input.wide#when(name="when" type="hidden" placeholder="In a week")
				input#stepDown(type="button" value="-")
				input.num#intervalNumber(type="number" value=1)
				input#stepUp(type="button" value="+")
				select#intervalType
					option(value=1) Days
					option(value=7) Weeks
					option(value=30) Months
			.tabs__tab-content
				h2 Pick a date
				input.wide#futureDate(name="futureDate" type="text" placeholder="On a specific date")
		#inputs
		
			input.wide#title(name="title" type="text" placeholder="Page title")
			input.wide#URL(name="URL" type="text" placeholder="URL to save")
			input.wide#note(name="notes" type="text" placeholder="Notes")
		ul#spookList
		#spookThis.spook Haunt Me
		#status
	script(src="moment.min.js")
	script(src="popup.js")
			
			