doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
		title Spookmarks 
		meta(name="description", content="Bookmarks that come back to haunt you.")
		meta(name="author", content="Dr. Wicked")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		link(rel="stylesheet", href="spookmarks.css")
	body
		h2 Spookmarks
	script(src="")