doctype html
head
	link(rel="stylesheet" href="popup.css")

body
	#mainPopup
		#topTable
			img#topIcon.cmn-t-pulse(src="../../icons/icon48.png" height=26)
			table.wrap
				tr
					td
						#intervalInput
							button.btn.left#stepDown -
							.blue
								input.num#intervalNumber(type="number" value=1)
							button.btn.right#stepUp +
					td
						select#intervalType
							option(value="minutes") minutes
							option(value="hours") hours
							option(value="days") days
							option(value="weeks") weeks
							option(value="months") months
		#accordion.b-accordion
			.b-accordion__title
					img#editIcon.icon.titleClick(src="../../icons/pencil.png" height="28")
					span#editLink.wrap.titleClick Edit
			.b-accordion__content
				#inputs
					input.wide#title(name="title" type="text" placeholder="Page title")
					input.wide#URL(name="URL" type="text" placeholder="URL to save")
					input.wide#note(name="notes" type="text" placeholder="Notes")
				input.wide#when(name="when" type="hidden" placeholder="In a week")
			.b-accordion__title
				img#calIcon.icon.titleClick(src="../../icons/calendar-icon.png" height="28")
				span#humanDate.titleClick On a particular date
			.b-accordion__content
				#calWrap
					input#datepicker(type="text")
			.debugHide
				input.wide#futureDate(name="futureDate" type="text" placeholder="On a specific date")
			.b-accordion__title.etherTitle
				img#ellipsisIcon.icon.titleClick(src="../../icons/ellipsis.png" width="28px")
				span.titleClick List Spookmarks
			.b-accordion__content
				#prefs.debugHide
					<button id="toggleAlarm">Activate alarm</button>
					button#clear Clear
				table
					tbody#spookList
			#status
			.wideWrap
				img#buttonGhost(src="../../icons/icon19.png")
				#spookThis.spook.wide Haunt Me
	script(src="moment.min.js")
	script(src="flatpickr.min.js")
	script(src="popup.js")
			
			